@page "/org/templates/new"
@inherits BaseAdminComponent<NewTemplateViewModel>
@layout MainLayout

<PageTitle>New Event Template</PageTitle>

<div class="row">
    <div class="col">
        <form @onsubmit="ViewModel.SubmitAsync">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <InputText class="form-control" Value="@ViewModel.Form.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">Short Description</label>
                <InputTextArea class="form-control" row="5" Value="@ViewModel.Form.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">Long Description</label>
                <InputTextArea class="form-control" row="8" Value="@ViewModel.Form.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">Short Description</label>
                <InputNumber class="form-control" Value="@ViewModel.Form.Name" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <InputCheckbox class="form-check-input mt-0" type="checkbox" Value="@ViewModel.HasIndividualTicketLimit" />
                </div>
                <InputNumber type="text" class="form-control" Value="@ViewModel.Form.IndividualTicketLimit" />
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>