@page "/patrons"
@inherits BaseAdminComponent<PatronsViewModel>
@layout MainLayout

<PageTitle>@ViewModel.Title</PageTitle>

<div class="row mt-2">
    <div class="col">
        <h1>@ViewModel.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-sm mt-2">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Since</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patron in ViewModel.PageList) {
                    <tr>
                        <td>@patron.Instance.User.Name</td>
                        <td>@patron.Email</td>
                        <td>@patron.Instance.User.Phone</td>
                        <td>@patron.Since</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <ListViewPageBar ViewModel="@ViewModel" />
    </div>
</div>

