@page "/finances"
@inherits BaseAdminComponent<FinancesViewModel>
@layout MainLayout

<PageTitle>@ViewModel.Title</PageTitle>

<div class="row mt-2">
    <div class="col">
        <h1>@ViewModel.Title</h1>
    </div>
    <div class="col text-end">
        <div class="btn-group">
            <button type="button" class="btn @(ViewModel.FinanceFilter == FinancesViewModel.FinanceFilterOption.Payable ? "btn-primary" : "btn-secondary")" @onclick="() => ViewModel.SetFinanceFilterAsync(FinancesViewModel.FinanceFilterOption.Pending)">Payable</button>
            <button type="button" class="btn @(ViewModel.FinanceFilter == FinancesViewModel.FinanceFilterOption.Pending ? "btn-primary" : "btn-secondary")" @onclick="() => ViewModel.SetFinanceFilterAsync(FinancesViewModel.FinanceFilterOption.Pending)">Pending</button>
            <button type="button" class="btn @(ViewModel.FinanceFilter == FinancesViewModel.FinanceFilterOption.All ? "btn-primary" : "btn-secondary")" @onclick="() => ViewModel.SetFinanceFilterAsync(FinancesViewModel.FinanceFilterOption.All)">All</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-sm mt-2">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Event</th>
                    <th scope="col">Tickets</th>
                    <th scope="col">Registered</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var registration in ViewModel.PageList) {
                    <tr>
                        <td>@registration.Registration.Id</td>
                        <td>@MoneyHelper.ToString(registration.Registration.Cost)</td>
                        <td>@registration.Registration.Instance.Info.Name</td>
                        <td>@registration.Registration.Tickets.Count</td>
                        <td>@registration.Confirmed</td>
                    </tr>
                }
                <tr>
                    <td><strong>SUM</strong></td>
                    <td><strong>@MoneyHelper.ToString(ViewModel.Sum)</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <ListViewPageBar ViewModel="@ViewModel" />
    </div>
</div>

