@page "/venues"
@inherits BaseAdminComponent<VenuesViewModel>
@layout MainLayout

<PageTitle>@ViewModel.Title</PageTitle>

<div class="row mt-2">
    <div class="col">
        <h1>@ViewModel.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-sm mt-2">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Parent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venue in ViewModel.PageList) {
                    <tr>
                        <td>@venue.Id</td>
                        <td>@venue.Name</td>
                        <td>@venue.Parent?.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <ListViewPageBar ViewModel="@ViewModel" />
    </div>
</div>

